# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [5]:
m = 128

In [6]:
n= 100+28

In [7]:
m == n

True

In [8]:
print(m == n)

True

In [10]:
id(m)

134353979347152

In [11]:
id(n)

134353979347152

In [12]:
print(id(m) == id(n))

True

Так, наведені змінні будуть дорівнювати одна одній та посилатися на один і той самий об'єт, оскільки під час виконання команд  m == n та print(id(m) == id(n)) мали в результаті True

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [42]:
p = True

In [43]:
print(isinstance(p, bool))

True

In [44]:
print(isinstance(p, int))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [106]:
integer = 118

In [107]:
float= 34.4

In [108]:
a = integer + float

In [ ]:
b = integer - float

In [113]:
c = integer * float

In [115]:
d = integer / float

In [116]:
e = integer // float

In [117]:
f = integer % float

In [118]:
g = integer ** float

In [109]:
print("Додавання:", a)

Додавання: 152.4

In [110]:
print("Віднімання:", b)

Віднімання: 128

In [114]:
print("Множення:", c )

Множення: 4059.2

In [119]:
print("Ділення:", d)

Ділення: 3.430232558139535

In [120]:
print("Ділення без залишку:", e)

Ділення без залишку: 3.0

In [121]:
print("Ділення по модулю:", f )

Ділення по модулю: 14.800000000000004

In [122]:
print("Приведення до ступеня:", g)

Приведення до ступеня: 1.8738768732974257e+71

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [123]:
integer = 118

In [124]:
float= 34.4

In [125]:
bool_value = True

In [126]:
converted_float_to_int = int(float)

In [127]:
converted_bool_to_int = int(bool_value)

In [128]:
print("Перетворення числа з рухомою комою на ціле :", converted_float_to_int)

Перетворення числа з рухомою комою на ціле : 34

In [129]:
print("Перетворення булевого значення на ціле число:", converted_bool_to_int)

Перетворення булевого значення на ціле число: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [28]:
empty_string1= ""

In [29]:
print(empty_string1)

In [31]:
empty_string2 = str()

In [32]:
print(empty_string2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [36]:
string_with_apostrophe ="I'm here"

In [34]:
raw_string_with_apostrophe = r"I'm here"

In [37]:
print(string_with_apostrophe)
print(raw_string_with_apostrophe)

I'm here
I'm here

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [39]:
my_surname = "Burbelo"

In [40]:
formatted_string = f"My surname is {my_surname}."

In [41]:
print(formatted_string)

My surname is Burbelo.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [19]:
string = "My dog is crazy"

In [20]:
words_list = string.split()

In [21]:
words_list = [word.lower() for word in words_list]

In [22]:
print(words_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [45]:
list1 = [ 111, 333, 444, 555]

In [46]:
list2 = list(range(101))

In [47]:
length_of_list2 = len(list2)
print("Довжина списку list2:", length_of_list2)

Довжина списку list2: 101

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [52]:
list1 = [ 111, 112, 113, 114 ]

In [53]:
list2 = [ 115, 116, 117 ]

In [54]:
list1.append(list2)

In [55]:
print(list1)

[111, 112, 113, 114, [115, 116, 117]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [98]:
nested_list = [[111, 278, 334], [434, 7879, 6442], [987, 3784, 39489]]

In [99]:
last_row_first_element = nested_list[-1][0]

In [100]:
print("Перший елемент з останнього рядка:", last_row_first_element)

Перший елемент з останнього рядка: 987

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [103]:
my_list = [231, 'first', 3.9, (6, 5), [984, 344], {'eight': 8}, 999, 145.5, False, a ]

In [104]:
new_list = my_list[2:-2]

In [105]:
print(new_list)

[3.9, (6, 5), [984, 344], {'eight': 8}, 999, 145.5]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [85]:
my_tuple = (1789384549394)

In [86]:
print(my_tuple)

1789384549394

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список та кортеж схожі між собою тим, що вони підтримують індексацію, можуть мати кілька елементів, містити елементи різних типів даних(string, integer тощо). Однак з кортежів не можна видалити елементи після його створення, на відміну від списку, а також відрізняються синтаксисом.
Список можна використовувати, якщо є задача створити структуру даних, які потрібно буде змінювати, в той час як кортежі ми використовуємо тоді, коли ми впевнені, що ми не будемо змінювати елементи даних.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [90]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3,)

In [95]:
result_tuple = my_tuple[-1::-2]

In [96]:
print(result_tuple)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [56]:
set1 = set()

In [57]:
set1.add(2.2222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222)

In [58]:
set1.add("cat")

In [59]:
set1.add(586950)

In [60]:
print(set1)

{2.2222222222222223, 'cat', 586950}

Так, можуть, оскільки ми вільно можемо додавати до них нові значення

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [16]:
my_list = [1, 1, 2, 67, 67, 8, 9]

In [17]:
print(my_list)

[1, 1, 2, 67, 67, 8, 9]

In [18]:
set(my_list)

{1, 2, 8, 9, 67}

Команда set дозволяє нам не дублювати значення у множині,оскільки в ній можуть зберігатися тільки унікальні значення

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [61]:
set1 = {101, 103, 105}

In [62]:
set2 = {111, 113, 115}

In [63]:
union_set = set1.union(set2)

In [64]:
print("Об'єднання:", union_set)

Об'єднання: {113, 115, 101, 103, 105, 111}

In [65]:
difference_set = set1.difference(set2)

In [66]:
print("Різниця :",difference_set)

Різниця : {105, 101, 103}

In [67]:
intersection_set = set1.intersection(set2)

In [68]:
print("Пересіч:", intersection_set)

Пересіч: set()

In [69]:
symmetric_difference_set = set1.symmetric_difference(set2)

In [70]:
print("Симетрична різниця:", symmetric_difference_set)

Симетрична різниця: {101, 103, 105, 111, 113, 115}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [71]:
my_dict = {}

In [72]:
my_dict["flower's blossom"] = "string_key"

In [73]:
my_dict[16.25] = "float_key"

In [74]:
my_dict[278] = "integer_key"

In [75]:
my_dict[("tuple", "key")] = "tuple_key"

In [76]:
print(my_dict)

{"flower's blossom": 'string_key', 16.25: 'float_key', 278: 'integer_key', ('tuple', 'key'): 'tuple_key'}

Ні, список не може бути ключем, оскільки список - це змінюваний та нехешований об'єкт, а ключ має бути, навпаки, незмінюваним та хешованим.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [79]:
nested_dict = {'outer_key': {'inner_key': {'innermost_key': 'value' }}}

In [80]:
print("Значення на найнижчому рівні вкладеності:", nested_dict['outer_key']['inner_key']['innermost_key'])

Значення на найнижчому рівні вкладеності: value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.